.heading{
font-size:30px ;
text-align: center;
}
.main-text{
    font-size: 35px;
    text-align: center;
  
}
   .box {
   margin: 20px auto;
    display: flex;
    flex-direction: column; 
    border: 5px solid rgb(255, 171, 91); 
    padding: 15px; 
    border-radius: 10px; 
    max-width: 70%; 
    background-color: rgb(254, 249, 225) ; 
}

.box h2 {
    text-align: center; 
    width: 100%; 
    margin-bottom: 10px;
    color: white;
}


.box-content {
    display: flex; 
    align-items: center; 
}


.images {
    width: 50%; 

    border-radius: 8px; 
    margin-right: 15px; 
}

.box-text {
    flex: 1; 
    color: white;
}

.body{
background: rgb(0, 48, 146);
margin: 0;
}
.desc{
  font-size: 20px;  
  padding: 50px;

}
.orange{
    background: rgb(254, 249, 225); 
    border: solid;
    border-width: 0.1px;
    border: 0.1px solid rgb(254, 249, 225); 
}
.div-tetx{
  width: 50%;  
}